<div class="container pt-5">
  <h1>Questions</h1>
  <%= link_to "Add question", new_manage_question_path(section_id: @section&.id), class: "btn btn-sm btn-outline-primary" %>
  <hr>
  <u class="mb-3">
    <% @questions.each do |question| %>
      <%= render "manage/questions/list_item", question: question %>
    <% end %>
  </ul>
</div>
