<div data-controller="charts" data-params="<%= performance.tags.chart.to_json %>">
  <figure class="highcharts-figure">
      <div data-charts-target="graph"></div>
      <p class="highcharts-description">
        The wind rose chart is often used to visualize wind patterns. In this
        example, the chart shows the wind speed distribution. This is
        achieved with a polar stacked column chart.
      </p>
  </figure>
</div>
<%= performance.tags.min.slug %>
