<li>
  <%= link_to section.title, admin_section_questions_path(section) %>
  <small>
    (
    <%= link_to "Edit", edit_admin_section_path(section), class: "text-danger" %>
    |
    <%= link_to "Remove", admin_section_path(section), method: :delete, class: "text-muted" %>
    )
  </small>
</li>
