<li>
  <%= link_to section.title, manage_questions_path(section_id: section) %>
  <small>
    (
    <%= link_to "Edit", edit_manage_section_path(section), class: "text-muted" %>
    |
    <%= link_to "Remove", manage_section_path(section), method: :delete, class: "text-danger" %>
    )
  </small>
</li>
