<% if notice %>
  <div class="alert alert-notice alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-notice alert-danger" role="alert">
    <%= alert %>
  </div>
<% end %>
