<% score = section_status.quiz_score * 100 %>

<div class='marker <%= score < 90 ? "partial" : "" %>'>
  <div class="marker-popup">
    <div>Quiz Completed</div>
    <div>Score: <%= number_to_percentage(score, precision: 0)  %></div>
  </div>
</div>
