<ul>
  <% sections.each do |section| %>
    <% if current_page?(course_section_path(section)) %>
      <li class="active">
        <%= section.title %>
      </li>
    <% else %>
      <li>
        <% if policy(section).show? %>
          <%= link_to section.title, course_section_path(section) %>
        <% else %>
          <%= link_to section.title, course_section_path(section), data: { toggle: "modal", target: "#exampleModal" } %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
