<div class="banner">
  <div class="banner-line"><%= render "shared/line" %></div>
  <div class="banner-text">
    <div class="banner-text-main">
      <h1>
        Master the LSAT
        <br>
        <small>Unlock Your Future Career</small>
      </h1>
      <p>World-class instruction, taught to you in a 1-on-1 custom format</p>
      <%= link_to "Check our packages", products_path, class: "btn btn-lg btn-light" %>
      <%= link_to "Contact me", new_coaching_request_path, class: "btn btn-lg btn-link text-white" %>
    </div>
  </div>
</div>
