<div class="banner">
  <div class="banner-line"><%= render "shared/line" %></div>
  <div class="banner-text">
    <div class="banner-text-main">
      <h1 class="mb-2">
        Master the Skills, Master the LSAT
      </h1>
      <p class="w-50 d-none d-md-block">LSAT Cracked is the only LSAT course that directly identifies the exact skills you're currently missing that an LSAT writer cares about. Stop wasting time repeating the same mistakes, and start unlocking your future career.</p>
      <%= link_to "Check our packages", products_path, class: "btn btn-lg btn-light" %>
      <%= link_to "Contact me", new_coaching_request_path, class: "btn btn-lg btn-link text-white" %>
    </div>
  </div>
</div>
