<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner-text-main" style="z-index: 9">
          <div>
            <div class="d-flex text-white align-items-center flex-column">
              <h1>Master the Skills,<br>Master the LSAT</h1>
              <div class="banner-matt d-flex justify-content-between align-items-center">
                <div class="text-center">Matt Walsh,<br /> Founder</div>
                <%= image_tag "matt.jpg", width: 125, class: "img-fluid banner-matt-image" %>
                <div class="text-center">Harvard Law, <br />179 LSAT</div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <% if @current_user.nil? %>
              <div class="banner-leads-form">
                <%= link_to "Take Skill Assessment", root_path(anchor: "intro-quiz"), class: "btn btn-primary btn-lg banner-cta", style: "z-index: 20" %>
              </div>
            <% else %>
              <p class="d-none d-md-block">Head over to your course dashboard to keep learning.</p>
              <%= link_to "My Dashboard", course_root_path, class: "btn btn-primary btn-lg banner-cta mb-4", style: "z-index: 10" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-line"><%= render "shared/line" %></div>
</div>
