<div data-controller="intro-quiz" class="py-5">
  <div class="pt-5 container">
    <div class="text-center mb-5">
      <h2 class="h1 font-weight-bolder">Ready to master the LSAT?</h5>
      <h5>Let's check your understanding with an intro quiz.</p>
      <button id="quiz-toggle" data-action="intro-quiz#showQuiz" class="btn btn-primary mb-3">Start Quiz</button>
    </div>
    <div class="d-none" data-intro-quiz-target="form">
      <%= render "guest/quiz_sessions/form", quiz_session: @intro_quiz_session %>
    </div>
  </div>
</div>
