<div class="py-5">
  <div class="p-5 container text-center text-white">
    <h2 class="mb-1">Get a basic LSAT Cracked account for free</h2>
    <h5 class="mb-5">Content | Quizzes | Skill Assessment</h5>
    <div class="px-5">
      <%= render "mail_leads/form", mail_lead: @mail_lead %>
    </div>
  </div>
</div>