<div class="bg-primary py-4">
  <div class="container-compact">
    <h2 class="text-white text-center">Matt Walsh</h2>
  </div>
</div>

<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <p>Hi, I’m Matt. I’m an entrepreneur, attorney, and founder of LSAT Cracked. I graduated from Harvard Law with honors and I’ve taught the LSAT professionally before, during, and after law school. I’ll admit it: I love the LSAT. The LSAT made it possible for me to go from a liberal arts major hoping for a job to being highly in demand from today’s top companies.</p>
      <p>After law school, I worked at a Top-10 Vault firm and while I was treated very well, it wasn’t what I hoped for. I decided to leverage my law degree and interviewing skills to land a job solving valuable problems for businesses, and while interviewing at management consulting firms, received an offer in business development at Palantir Technologies.</p>
      <p>Engineers there were stunned to learn that they were talking with a history major with no background in technology or coding. (The logical foundations you learn for the LSAT map over well to technical conversations with engineers….) After four years of working with a mix of extremely talented colleagues, I decided I wanted to start my own education company.</p>
    </div>
  </div>
</div>

<div class="bg-primary py-4">
  <div class="container-compact">
    <h2 class="text-white text-center">About LSAT Cracked</h2>
  </div>
</div>

<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <p>I started LSAT Cracked to scale the impact of my 1-on-1 private coaching. I know 90% of the pre-law market can’t afford private sessions, and mass-market LSAT providers vary widely in quality. Even the relatively good ones are still less than completely rigorous in how they teach the underlying logic and reading skills that the LSAT demands.</p>
      <p>I love teaching. And I really love teaching students to reason logically, think critically, and read intelligently. I also love the freedom, leanness, and total responsibility that running my own business entails.</p>
      <h3>Why do I care so much about improving your LSAT score?</h3>
      <ol>
        <li>Two months of serious study took me from a 161 to a 179 and changed the trajectory of my life.</li>
        <li>I believe that this test is absolutely learnable and is one of the two most important inflection points of your legal career (along with your 1L grades).</li>
        <li>Getting better at the core skills that this test measures is one of the most broadly applicable life upgrades you can acquire (whether or not you go to law school and whether or not you practice as a lawyer).</li>
      </ol>
    </div>
  </div>
</div>
