<%= render "banner" %>
<div id="differencial" class="bg-primary text-white py-5">
  <div class="container py-5">
    <h2 class="h1 mb-5 text-center font-weight-bold">The LSAT Cracked Difference</h2>
    <p>Mass-market LSAT courses operate on a standard business model: license 8,000 questions, overwhelm you with hundreds of hours of videos, and expect you to see the patterns for yourself. <strong>LSAT Cracked is different:</strong></p>
    <ol>
      <li class="bg-primary-dark p-3 mb-3"><strong>LSAT Cracked’s curriculum immediately identifies and teaches you the exact skills that LSAT writers care about.</strong> Once you learn these skills, you will “see” LSAT problems differently, and your score will improve dramatically. Stop making the same mistake multiple times—master the skills underlying these problems, and you will master the LSAT.</li>
      <li class="bg-primary-dark p-3 mb-3"><strong>The LSAT Cracked experience is customized for each student’s strengths and weaknesses.</strong> The combination of software drills and direct access to me—the creator of all course materials—means that we’ll immediately identify the key skills you’re struggling with. </li>
      <li class="bg-primary-dark p-3 mb-3"><strong>I don’t outsource anything, so you’re learning directly from me, not a random.</strong> From the world-class curriculum, the software drills with explanations, my videos, the exclusive group office hours, and the private 1-on-1 sessions, I am walking with you every step of your journey. </li>
    </ol>
    <p>
      The most common sentiment I hear from my students:
      <i>“I wish I heard about you before I wasted $2,000 on [mass-market course XYZ].”</i>
      The LSAT is the most important test of your life. Don’t trust it to a mass-market LSAT course. Let’s get started today.
    </p>
  </div>
</div>

<div id="results"><%= render "testimonials" %></div>

<div id="approach" class="dark-gray-wrapper text-white py-5">
  <div class="container py-5">
    <h2 class="h1 mb-5 text-center font-weight-bold">LSAT Cracked Approach</h2>
    <h3 class="h5 font-weight-bolder">1. A world-class LSAT curriculum</h3>
    <p class="pl-4 mb-4">Over 300 pages detailing the exact skills you need to learn for LSAT mastery. No fluff, no filler. The curriculum is extremely modular so that you can locate the exact skill you'd like to learn more about without having to read 20 pages or listen to an hour of video.</p>

    <h3 class="h5 font-weight-bolder">2. Custom software quizzes with explanations</h3>
    <p class="pl-4 mb-4">When you read a chapter you won't have to wonder if you've absorbed the content—you can immediately quiz yourself to see which specific areas need more attention.</p>

    <h3 class="h5 font-weight-bolder">3. Modular video explanations</h3>
    <p class="pl-4 mb-4">No one pays attention to four-hour LSAT lectures, but that's what typical mass-market courses use. LSAT Cracked presents short (< 5min) videos on the key skills you need to master.</p>

    <h3 class="h5 font-weight-bolder">4. Exclusive weekly office hours</h3>
    <p class="pl-4 mb-4">Take advantage of exclusive weekly office hours. For 90 minutes each week, I answer student questions, highlighting the key skills and themes that make the question relevant for the entire audience.</p>

    <h3 class="h5 font-weight-bolder">5. One-on-one private coaching sessions</h3>
    <p class="pl-4 mb-4">Spend an hour with me on everything from customizing an ideal LSAT plan to your specific schedule and goals to uncovering the idiosyncratic patterns that explain your mistakes.</p>
  </div>
</div>

<div id="packages" class="bg-primary py-5">
  <div class="container py-5">
    <h2 class="text-center h1 mb-5 text-white font-weight-bold">Plans & Pricing</h2>
    <div class="card-deck mb-3 text-center">
      <%= render @products %>
    </div>
  </div>
</div>

<footer class="main-content-text">
  <div class="footer-logo"><%= render "shared/logo" %></div>
  <p class="border-top mt-3 pt-3 w-100 text-center">
    © 2020 lsatcracked.com
  </p>
</footer>
