<%= render "banner" %>
<div class="bg-primary p-3 text-center"></div>

<div id="results"><%= render "testimonials" %></div>
<div id="packages" class="bg-primary py-5">
  <div class="container py-5">
    <h1 class="text-center mb-5 text-white font-weight-bold">Plans & Pricing</h1>
    <div class="card-deck mb-3 text-center">
      <%= render @products %>
    </div>
  </div>
</div>

<footer class="main-content-text">
  <div class="footer-logo"><%= render "shared/logo" %></div>
  <p class="border-top mt-3 pt-3 w-100 text-center">
    © 2020 lsatcracked.com
  </p>
</footer>
