<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner.png") %>)">
  <div class="container">
    <h1>Master the LSAT,<br>Unlock Your Future Career</h1>
    <p>World-class instruction, taught to you in a 1-on-1 custom format</p>
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</div>
