<h1 class="mb-4 text-center">Welcome Back!</h1>
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="card border-0 shadow-sm p-3 text-center">
      <%= render current_user.course_status.performance %>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="card border-0 shadow-sm p-3 text-center mb-4">
      "<%= quote_of_the_day.text %>"<br><hr>-<%= quote_of_the_day.author %>
    </div>
    <div class="card border-0 shadow-sm p-3 text-center">
      <%= render "course/dashboards/suggested"  %>
    </div>
  </div>
</div>
