<h1 class="mb-3">Welcome Back!</h1>
<div class="mb-4">
  <div class="mb-3">
    <p>You've completed <%= number_to_percentage(current_user.course_status.completion_rate * 100, precision: 0) %> of the sections in the course.</p>
    <%= render "status/progress", status: current_user.course_status %>
  </div>
</div>

<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="true">Review</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="next-section-tab" data-toggle="tab" href="#next-section" role="tab" aria-controls="next-section" aria-selected="false">Suggested</a>
  </li>
</ul>

<div data-controller="charts"></div>

<%= render "course/review" %>
<%= render "course/suggested" %>
