<h1 class="mb-3">Welcome Back!</h1>

<h2>Time For A Review</h2>
<p>Here are your missed questions for the last three days. Spend some time reviewing them before retaking the quiz.</p>
<div class="mb-3">
  <ol>
    <% current_user.answers.wrong.each do |answer| %>
      <% if answer.quiz_questions.last.created_at > 3.days.ago %>
        <li><%= answer.quiz_questions.last.question.prompt %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= link_to "Learn", course_section_path(@section), class: "btn btn-primary mb-3" %>
