<h1 class="mb-3">Welcome Back!</h1>
<div class="row">
  <div class="col-lg-6 col-12">
    <%= render "course/suggested"  %>
  </div>
  <div class="col-lg-6 col-12">
    <%= render current_user.course_status.performance %>
  </div>
</div>
