<%= simple_form_for mail_lead do |f| %>
  <div class="input-group is-invalid">
    <%= f.text_field :email, label: "Stay in touch", class: "form-control #{params[:invalid_mail].present? ? "is-invalid" : ""}", placeholder: "Email" %>
    <div class="input-group-append">
      <%= f.button :submit, "Create a Free Account", class: "btn btn-outline-light" %>
    </div>
    <div class="invalid-feedback">
      Please provide a valid email.
    </div>
  </div>
<% end %>
