<div class="container-fluid">
  <div class="row">
    <div class="col-3 border-right">
      <ul>
        <% @chapters.each do |chapter| %>
          <li>
            <h2><%= chapter.title %></h2>
            <ul>
              <% chapter.sections.each do |section| %>
                <li><%= link_to section.title, course_section_path(section) %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

    </div>
    <div class="col-9">
      <h1>LSAT Cracked Course</h1>
    </div>
  </div>
</div>
