<h1>All chapters</h1>
<%= link_to "Add chapter", new_chapter_path, class: "btn btn-primary" %>
<hr>
<ul>
  <% @chapters.each do |chapter| %>
    <li>
      <%= link_to chapter.title, chapter_path(chapter.id) %>
      <%= link_to "Edit", edit_chapter_path(chapter.id) , class: "btn btn-sm btn-secondary" %>
      <%= link_to "Delete", chapter_path(chapter.id), method: :delete, 'data-confirm': "Are you sure?", class: "btn btn-sm btn-danger" %>
    </li>
  <% end %>
</ul>
