@keyframes slidein {
  from {
    right: -50vw;
  }

  to {
    right: 3vw;
  }
}

.alert-notice {
  position: fixed;
  top: 10vh;
  right: 3vw;
  animation-duration: 0.5s;
  animation-name: slidein;
}
