$line-color: $primary;

@keyframes line-draw {
  from {
    stroke-dasharray: 200, 20, 60, 20, 200;
    stroke-dashoffset: 0;
    stroke: darken($line-color, 2.5%);
  }
  
  50% {
    stroke-dasharray: 150, 70, 60, 70, 150;
    stroke-width: 0.25px;
    stroke: darken($line-color, 4.5%);
  }

  to {
    stroke-dasharray: 200, 20, 60, 20, 200;
    stroke-dashoffset: 310;
    stroke: darken($line-color, 3.5%);
  }
}

@keyframes shadow-bump {
  0% {
    transform: scale(0.80) translateY(35%) translateX(-5%);
  }

  50% {
    transform: scale(0.85) translateY(25%) translateX(0%);
  }

  100% {
    transform: scale(0.80) translateY(35%) translateX(5%);
  }
}

@keyframes pulse {
  to {
    transform: scale(1);
  }

  from {
    transform: scale(0.97);
  }
}

.banner {
  background-size: cover;
  background-position: center;
  background-color: $primary;
  background-image: radial-gradient($primary, darken($primary, 13%));
  height: calc(100vh - 1rem);

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  padding: 0 15vw;
  align-items: center;

  .banner-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    path {
      fill: none;  
      stroke-width: 1px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-opacity: 1;
      animation-name: line-draw;
      animation-duration: 10s;
      animation-direction: reverse;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }
  }

  .banner-text {
    position: relative;
  }

  .banner-logo {
    position: relative;
    width: 50%;
    padding: 8vw;
    animation-name: pulse;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    fill: lighten($primary, 65%);
  }

  .banner-shadow {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.035;
    animation-name: shadow-bump;
    animation-duration: 7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }
}
