$line-color: $primary;

@keyframes line-draw {
  from {
    stroke-dasharray: 200, 20, 60, 20, 200;
    stroke-dashoffset: 0;
    stroke: darken($line-color, 2.5%);
  }

  50% {
    stroke-dasharray: 150, 70, 60, 70, 150;
    stroke-width: 0.25px;
    stroke: darken($line-color, 4.5%);
  }

  to {
    stroke-dasharray: 200, 20, 60, 20, 200;
    stroke-dashoffset: 310;
    stroke: darken($line-color, 3.5%);
  }
}

@keyframes shadow-bump {
  0% {
    transform: scale(0.80) translateY(35%) translateX(-5%);
  }

  50% {
    transform: scale(0.85) translateY(25%) translateX(0%);
  }

  100% {
    transform: scale(0.80) translateY(35%) translateX(5%);
  }
}

@keyframes pulse {
  to {
    transform: scale(1);
  }

  from {
    transform: scale(0.97);
  }
}

.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: $primary;
  background-image: asset-url("banner_1.jpg");
  background-blend-mode: multiply;
  height: calc(100vh - 2rem);
  // height: 42rem;

  .caption {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
  }

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;

  &-text-main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &-matt {
    margin: 24px 5px 0;

    &-image {
      margin: 0 16px;
      border-radius: 50%;
      border: 0.25rem solid white;
      object-position: center;
      object-fit: cover;
    }
    
    @media (max-width: 1100px) {
      margin: 32px 5px;
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  .banner-line {
    position: absolute;
    top: -1.125rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    path {
      opacity: 0.2;
      fill: none;
      stroke-width: 1px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-opacity: 1;
      animation-name: line-draw;
      animation-duration: 10s;
      animation-direction: reverse;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }
  }

  .banner-text {
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
  }

  .banner-logo {
    position: relative;
    width: 50%;
    padding: 8vw;
    animation-name: pulse;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    fill: lighten($primary, 65%);
  }

  .banner-shadow {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.035;
    animation-name: shadow-bump;
    animation-duration: 7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }

  .banner-leads-form {
    z-index: 5;
  }

  .banner-cta {
    animation: pulse 2.5s infinite;
    animation-delay: 3s;
    width: 420px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(244, 244, 244, 0.7)
  }
  90% {
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}