.marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  position: relative;
  &:hover {
    color: black;
  }
}

.marker-popup {
  position: absolute;
  display: none;
  background-color: $bordeau;
  width: 100px;
  height: 20px;
}