.navbar {
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.34s;

  .navbar-brand-white {
    display: none;
  }

  &.nav-transparent {
    background-color: rgba(255, 255, 255, 0);

    .navbar-brand {
      display: none;
    }

    .navbar-brand-white {
      display: inline-block;
      position: relative;
      height: 45px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 70px;
      }
    }

    .nav-link {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
