.progress {
  border-radius: 10px;
  border: 1px solid $bordeau;
  height: 20px;
  width: 100%;
  position: relative;
  &:hover .progress-popup {
    display: flex;
  }
}

.progress-popup {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bordeau;
  border-radius: 10px 0 0 10px;
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 5px 10px;
  left: 0;
  min-width: 50px;
  height: 20px;
}
