// Bootstrap variables
$primary: #a51c30 !default;
$font-size-base: 1.125rem !default;

// External libraries
@import "bootstrap";
@import "actiontext";

// Bootstrap customs
.container {
  &.container-compact {
    max-width: (1140px) / 2;
  }
}


.course-layout {
  display: flex;
  background-color: lighten(lightgray, 15%);
}

.course-container {
  padding-top: 3rem;
  width: (1140px) * 0.8;
  max-width: (1140px) * 0.8;
  margin: 0 auto;
}

// px-5 py-4 bg-white
.course-page {
  padding: 4rem 5rem;
  border-radius: 4px;
  background-color: #fff;
}

.course-sidebar {
  padding: 3rem 2rem;
  border-right: 1px solid #eee;

  > ul {
    position: sticky;
    top: 3rem;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

.course-content {
  font-size: 20px;
}

// Components
@import "components/alert-notice";
@import "components/banner";
