<% if user.admin? %>
  <span class="badge badge-warning">Admin</span>
<% end %>
<% if user.paying? %>
  <span class="badge badge-success">Paying</span>
<% end %>
<% if user.prep_plus? %>
  <span class="badge badge-info">Prep Plus</span>
<% end %>
