<div class="d-flex align-items-center justify-content-between">
  <h2>Quiz Report</h2>
  <% if quiz_session.quiz.persisted? %>
    <%= render "course/quizzes/form", quizable: quiz_session.quiz.quizable %>
  <% end %>
</div>
<p>Here are the results of the last quiz you took.</p>
<hr>
<%= render "course/quiz_sessions/performance", quiz_session: quiz_session %>
<div class="accordion" id="quiz-report-accordion">
  <% quiz_session.quiz_questions.each do |quiz_question| %>
    <%= render "course/quiz_questions/card", quiz_question: quiz_question %>
  <% end %>
</div>
