<div class="container pt-5">
  <h1>Course editor</h1>
  <ul class="list-group">
    <% @chapters.each do |chapter| %>
      <%= render "list_item", chapter: chapter %>
    <% end %>
    <li class="list-group-item"><%= link_to "Add chapter", new_admin_chapter_path, class: "btn btn-primary btn-block" %></li>
  </ul>
</div>
