<h1><%= @chapter.title %></h1>

<ul>
  <% @chapter.sections.each do |section| %>
    <li>
      <%= section.title %>
      <%= link_to "Edit", edit_admin_section_path(section), class: "btn btn-sm btn-secondary" %>
    </li>
  <% end %>
  <li><%= link_to "Add section", new_admin_chapter_section_path(@chapter), class: "btn btn-primary btn-sm" %></li>
</ul>
