<div class="bg-primary py-4 mb-5">
  <h2 class="text-center text-white">Coaching</h2>
</div>

<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-8 col-lg-6">
      <%= render "form", coaching_request: @coaching_request %>
    </div>
  </div>
</div>

<div class="bg-primary py-4 mb-5">
  <h2 class="text-center text-white">My Coaching Philosophy</h2>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <p>You will go far beyond simply explaining why the right answer is right and why the wrong answers are wrong. You will learn to break problems down to their constituent elements to identify exactly where your thinking went off-track. This will enable you to generalize the lesson learned at the appropriate level of analysis so that you can apply it to future problems that share the same underlying template or skill set. This will result in the fastest possible LSAT score increase, sharper reasoning in your 1L exams, and clearer thinking in your legal career.</p>
      <p>Unlike virtually any other LSAT course or tutor, I’ve gone through the entire “legal pipeline” that many of my students aspire to:</p>
      <ol>
        <li>Raise their LSAT score nearly 20 points (161 to 179);</li>
        <li>Graduate from an excellent law school (Harvard Law, with honors);</li>
        <li>Land their dream legal job (Gibson Dunn & Crutcher);</li>
        <li>Rebrand themselves as problem-solver and leader who just happens to have a law degree (working at a highly selective VC-backed tech company); and</li>
        <li>Start a location-independent company that lets them do what they love.</li>
      </ol>
      <p>I know the struggle before the LSAT, the journey through it, and the various paths that come after it. I’m able to contextualize the LSAT, its importance, and how the skills you learn now will give you an edge in law school and in your future career.</p>
    </div>
  </div>
</div>


